<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>老地瓜</title>
</head>

<body>
  <div style="
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    ">
    <p>
      网站简介：<a href="/">点击进入</a>
      <br/>友情链接：
      <a href="https://www.bilibili.com/">哔哩哔哩</a> |
      <a href="https://www.github.io/">GitHub Pages</a>
      <br/>Copyright © 2021 地瓜网
    </p>
  </div>
</body>

</html>
